.Select-menu-outer{top: auto; bottom: 100%}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-container button {
    margin-right: 10px;
}
.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}



@media (max-width: 768px) {
    .report-problem-container {
        align-items: center;
    }
}
